body {
    background-color: #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 97vh;
  }
  
  .heart {
    width: 200px;
    height: 200px;
    background-size: 100%;
    background-repeat: no-repeat;
    background-image:url("data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIGlkPSJMYXllcl8xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB4PSIwcHgiIHk9IjBweCINCgkgd2lkdGg9IjE3M3B4IiBoZWlnaHQ9IjE1OHB4IiB2aWV3Qm94PSIwIDAgMTczIDE1OCIgZW5hYmxlLWJhY2tncm91bmQ9Im5ldyAwIDAgMTczIDE1OCIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSI+DQo8cGF0aCBmaWxsPSIjRUY0NjU3IiBkPSJNMTU3LjMzMSwxNS41MDRjLTE5LjU1OS0xOS41NTktNTEuMjcxLTE5LjU1OS03MC44MzEsMGMtMTkuNTU5LTE5LjU1OS01MS4yNzEtMTkuNTU5LTcwLjgzMSwwDQoJYy0xOS41NTksMTkuNTU5LTE5LjU1OSw1MS4yNzEsMCw3MC44MzFsNzAuODMxLDcwLjgzbDcwLjgzMS03MC44M0MxNzYuODksNjYuNzc1LDE3Ni44OSwzNS4wNjQsMTU3LjMzMSwxNS41MDR6Ii8+DQo8L3N2Zz4=");
  }

  .you {
      color: #ef4657;
  }
  
  .text {
       color: #ffffff;
       width: 200px;
  }
  
  .heart {
    animation: HEARTBEAT 2.5s infinite;
  }
  
  .textAlgin {
      display: flex;
      justify-content: center;
  }
  
  .dear {
      font-size: 1.17em;
  }
  
  .fixMarginTop {
      margin-top: 20px;
  }
  
  @keyframes HEARTBEAT {
    0% {
      transform: scale(1);
    }
    5% {
      transform: scale(1.2);
    }
    10% {
      transform: scale(1.1);
    }
    15% {
      transform: scale(1.4);
    }
    50% {
      transform: scale(1);
    }
    100% {
      transform: scale(1);
    }
  }
  